portable-co2-monitor/.pio
portable-co2-monitor/.vscode/.browse.c_cpp.db*
portable-co2-monitor/.vscode/c_cpp_properties.json
portable-co2-monitor/.vscode/launch.json
portable-co2-monitor/.vscode/ipch
portable-co2-monitor/.vscode/extensions.json
.DS_Store
